name: Build and Upload Windows Artifact

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  build:
    runs-on: windows-latest
    env:
      PYTHON_VERSION: "3.12.4"
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Create virtual environment and install dependencies
      run: |
        python -m venv venv
        venv\Scripts\python.exe -m pip install --upgrade pip
        venv\Scripts\pip.exe install .[build,dev]

    - name: Build executable with PyInstaller
      run: |
        venv\Scripts\pyinstaller.exe build.spec

    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
      with:
        name: ResolutionSwitcher
        path: dist/ResolutionSwitcher.exe
