name: Build and Upload Windows Artifact

on:
  push:
    branches:
      - '**'
    tags:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PYTHON_VERSION: "3.12.4"
      WINEARCH: win64
      WINEPREFIX: /home/runner/.wine
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

    - name: Install Wine
      run: |
        sudo dpkg --add-architecture i386
        sudo apt-get update
        sudo apt-get install -y wine64 wine32 xvfb

    - name: Download and install Python for Windows
      run: |
        wget https://www.python.org/ftp/python/${PYTHON_VERSION}/python-${PYTHON_VERSION}-amd64.exe -O python-installer.exe
        xvfb-run wine python-installer.exe /quiet InstallAllUsers=0 PrependPath=1 Include_test=0

    - name: Create virtual environment and install dependencies
      run: |
        wine python -m venv venv
        wine venv/Scripts/python.exe -m pip install --upgrade pip
        wine venv/Scripts/pip.exe install -e .[build,dev]

    - name: Build executable with PyInstaller
      run: |
        wine venv/Scripts/pyinstaller.exe build.spec

    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
      with:
        name: ResolutionSwitcher
        path: dist/ResolutionSwitcher.exe
