name: Build and Upload Windows Artifact

on:
  push:
    tags:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
    - name: Package Application
      uses: JackMcKew/pyinstaller-action-windows@6736e82336143ca2eb15d13f9b1af90dfd945042
      with:
        path: src
    - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
      with:
        name: ResolutionSwitcher
        path: src/dist/windows
